xsd/partner/admin/partnerinquiry/AdminViewForPartnerInquiryData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.ccighgo.com/adminViewForPartnerInquiryData" elementFormDefault="unqualified" attributeFormDefault="unqualified"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:adminViewForPartnerInquiryData="http://www.ccighgo.com/adminViewForPartnerInquiryData" xmlns:Q1="http://www.ccighgo.com" xmlns:common="http://www.ccighgo.com/common"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

   <xsd:annotation>
      <xsd:appinfo>
         <jaxb:schemaBindings>
            <jaxb:package name="com.ccighgo.service.transport.integration.thirdparty.beans.adminviewforpartnerinquirydata" />
         </jaxb:schemaBindings>
      </xsd:appinfo>
      <xsd:documentation></xsd:documentation>
   </xsd:annotation>

 	<xsd:import schemaLocation="../../../Common.xsd" namespace="http://www.ccighgo.com/common"></xsd:import>


   <xsd:element name="PartnerRecruitmentAdmin" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdmin"></xsd:element>
 

   <xsd:complexType name="PartnerRecruitmentAdmin">
    <xsd:complexContent>
     <xsd:extension base="common:Response">
            <xsd:sequence>
            	<xsd:element name="goId" type="xsd:int" minOccurs="1" maxOccurs="1" />
               <xsd:element name="LeadStatus" type="xsd:string" minOccurs="1" maxOccurs="1" />
               <xsd:element name="active" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
               <xsd:element name="detail" type="adminViewForPartnerInquiryData:AdminPartnerRecruitmentScreeningDetail" minOccurs="1" maxOccurs="1" />
               <xsd:element name="lastLoginDate" type="xsd:string" minOccurs="1" maxOccurs="1" />
               <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />               
               <xsd:element name="programEligibilityAndCCIContact" type="adminViewForPartnerInquiryData:AdminPartnerProgramsElgibilityAndCCIContact" minOccurs="1" maxOccurs="unbounded" />
               <xsd:element name="hspSettings" type="adminViewForPartnerInquiryData:AdminPartnerHspSettings" minOccurs="1" maxOccurs="1" />
			   <xsd:element name="offices" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningOffices" minOccurs="1" maxOccurs="unbounded" />
			   <xsd:element name="contacts" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningContacts" minOccurs="1" maxOccurs="unbounded" />
			   <xsd:element name="referenceCheck" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningReferenceCheck" minOccurs="1" maxOccurs="unbounded" />
			   <xsd:element name="documents" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningDocuments" minOccurs="1" maxOccurs="unbounded" />
			    <xsd:element name="notes" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningNotes" minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>



	  <xsd:complexType name="AdminPartnerRecruitmentScreeningDetail">
	            <xsd:sequence>
	               <xsd:element name="rating" type="xsd:int" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="companyName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="logo" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="quickbooksCode" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="username" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="generalEmail" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="invoiceEmail" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="canHaveSubPartner" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="multiCountrySender" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="cciContact" type="adminViewForPartnerInquiryData:CCIInquiryFormPerson" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="billingNotes" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="acronym" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="AdminPartnerProgramsElgibilityAndCCIContact">
	            <xsd:sequence>
	               <xsd:element name="programId" type="xsd:int" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="marked" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="cciContact" type="adminViewForPartnerInquiryData:CCIInquiryFormPerson" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="cciContactProgramName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>

		<xsd:complexType name="CCIInquiryFormPerson">
	             <xsd:sequence>
	               <xsd:element name="imageUrl" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="role" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="cciUserId" type="xsd:int" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="AdminPartnerHspSettings">
	            <xsd:sequence>
	               <xsd:element name="hspParticipantUnquaranteedFromRequired" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="hspParticipantMedicalReleaseRequired" type="xsd:boolean" minOccurs="1" maxOccurs="1" />            
	               <xsd:element name="hspParticipantEltisRequired" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="aypParticipantTranscriptRequired" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningOffices">
	            <xsd:sequence>
	            <xsd:element name="partnerOfficeId" type="xsd:int" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="address1" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="address2" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="city"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	               <xsd:element name="zipCode"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="country"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="phone"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="fax"      type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="email"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="website"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="officeType"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningContacts">
	            <xsd:sequence>
	            <xsd:element name="partnerContactId" type="xsd:int" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="salutation" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="titile" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="firstName"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	               <xsd:element name="lastName"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="email"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="phone"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="emergencyPhone"      type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="fax"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="skypeId"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="username"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="active"  type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="programs"  type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="primaryContact"  type="xsd:boolean" minOccurs="1" maxOccurs="1" />	               
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningReferenceCheck">
	            <xsd:sequence>
	            <xsd:element name="partnerCheckReferenceId" type="xsd:int" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="completedOn" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="completedBy" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="approvedOn"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	               <xsd:element name="approvedBy"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="latestCopyOfBusinessExpires"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="note"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	    <xsd:complexType name="PartnerRecruitmentAdminScreeningDocuments">
	     <xsd:complexContent>
     <xsd:extension base="common:Response">
	   <xsd:sequence>
	   <xsd:element name="goId" type="xsd:int" minOccurs="1" maxOccurs="1" />
	    <xsd:element name="partnerDocumentId" type="xsd:int" minOccurs="1" maxOccurs="1" />
         <xsd:element name="docType" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="fileType" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="fileName" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="docName" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="docUrl" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="uploadDate" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="uploadedBy" type="adminViewForPartnerInquiryData:DocumentUploadUser" minOccurs="1" maxOccurs="1" />
         <xsd:element name="active" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
		<xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />         
      </xsd:sequence>
       </xsd:extension>
    </xsd:complexContent>
      </xsd:complexType>
      
      
      <xsd:complexType name="DocumentUploadUser">
	            <xsd:sequence>
	               <xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="role" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="photoUrl"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	             </xsd:sequence>
	   </xsd:complexType>
      
      
      <xsd:complexType name="PartnerRecruitmentAdminScreeningNotes">
    <xsd:complexContent>
     <xsd:extension base="common:Response">
      <xsd:sequence>
      <xsd:element name="partnerNoteId" type="xsd:int" minOccurs="1" maxOccurs="1" />
         <xsd:element name="seasonId" type="xsd:int" minOccurs="1" maxOccurs="1" />
         <xsd:element name="seasonDepartmentNotetId" type="xsd:int" minOccurs="1" maxOccurs="1" />
         <xsd:element name="noteValue" type="xsd:string" minOccurs="0" maxOccurs="1" />
         <xsd:element name="active" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
         <xsd:element name="topic" type="xsd:string" minOccurs="0" maxOccurs="1" />
         <xsd:element name="createdOn" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="createdBy" type="adminViewForPartnerInquiryData:NoteUserCreator" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="NoteUserCreator">
	            <xsd:sequence>
	               <xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="role" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="photoUrl"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	             </xsd:sequence>
	   </xsd:complexType>
   
</xsd:schema>