xsd/partner/admin/AdminViewForPartnerInquiryData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.ccighgo.com/adminViewForPartnerInquiryData" elementFormDefault="unqualified" attributeFormDefault="unqualified"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:adminViewForPartnerInquiryData="http://www.ccighgo.com/adminViewForPartnerInquiryData" xmlns:Q1="http://www.ccighgo.com" xmlns:common="http://www.ccighgo.com/common"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

   <xsd:annotation>
      <xsd:appinfo>
         <jaxb:schemaBindings>
            <jaxb:package name="com.ccighgo.service.transport.integration.thirdparty.beans.adminviewforpartnerinquirydata" />
         </jaxb:schemaBindings>
      </xsd:appinfo>
      <xsd:documentation></xsd:documentation>
   </xsd:annotation>

 	<xsd:import schemaLocation="../../Common.xsd" namespace="http://www.ccighgo.com/common"></xsd:import>


   <xsd:element name="PartnerRecruitmentAdmin" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdmin"></xsd:element>
 

   <xsd:complexType name="PartnerRecruitmentAdmin">
    <xsd:complexContent>
     <xsd:extension base="common:Response">
            <xsd:sequence>
               <xsd:element name="LeadStatus" type="xsd:string" minOccurs="1" maxOccurs="1" />
               <xsd:element name="agentStatus" type="xsd:string" minOccurs="1" maxOccurs="1" />
               <xsd:element name="detail" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningDetail" minOccurs="1" maxOccurs="1" />
               <xsd:element name="followUpDate" type="xsd:string" minOccurs="1" maxOccurs="1" />
               <xsd:element name="programs" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningPrograms" minOccurs="1" maxOccurs="unbounded" />
               <xsd:element name="participantProgramOfferings" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningProgramOfferings" minOccurs="1" maxOccurs="1" />
               <xsd:element name="descriptionsOfPrograms" type="xsd:string" minOccurs="1" maxOccurs="1" />
			   <xsd:element name="additionalInformation" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningAdditionalInfo" minOccurs="1" maxOccurs="1" />
			   <xsd:element name="messagesToAgent" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningMessagesToAgent" minOccurs="1" maxOccurs="unbounded" />
			   <xsd:element name="offices" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningOffices" minOccurs="1" maxOccurs="unbounded" />
			   <xsd:element name="referenceCheck" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningReferenceCheck" minOccurs="1" maxOccurs="unbounded" />
			   <xsd:element name="documents" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningDocuments" minOccurs="1" maxOccurs="unbounded" />
			    <xsd:element name="notes" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningNotes" minOccurs="1" maxOccurs="unbounded" />
             </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>



	  <xsd:complexType name="PartnerRecruitmentAdminScreeningDetail">
	            <xsd:sequence>
	               <xsd:element name="rating" type="xsd:int" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="companyName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="salutation" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="firstName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="lastName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="phone" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="website" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="address1" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="address2" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="city" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="stateOrProvince" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="country" type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningPrograms">
	            <xsd:sequence>
	               <xsd:element name="programName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="applied" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="notify" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="action" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="markedBy" type="adminViewForPartnerInquiryData:PartnerRecruitmentAdminScreeningMarkedByUser" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>

		<xsd:complexType name="PartnerRecruitmentAdminScreeningMarkedByUser">
	             <xsd:sequence>
	               <xsd:element name="imageUrl" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningProgramOfferings">
	            <xsd:sequence>
	               <xsd:element name="teachAbroad" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="volunteerAbroad" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="highSchoolAbroad" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="other" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningAdditionalInfo">
	            <xsd:sequence>
	               <xsd:element name="likeToKnowMoreAboutAmbassadorScholarship" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="sendPartnersToUSA" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="yearsInBusiness" type="xsd:int" minOccurs="1" maxOccurs="1" />	               
	               <xsd:element name="hearAboutUsFrom" type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	    <xsd:complexType name="PartnerRecruitmentAdminScreeningMessagesToAgent">
	            <xsd:sequence>
	               <xsd:element name="imageUrl" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="senderName" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="message" type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	               <xsd:element name="date" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="received" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningOffices">
	            <xsd:sequence>
	               <xsd:element name="address1" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="address2" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="city"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	               <xsd:element name="zipCode"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="country"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="phone"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="fax"      type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="email"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="website"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	   <xsd:complexType name="PartnerRecruitmentAdminScreeningReferenceCheck">
	            <xsd:sequence>
	               <xsd:element name="completedOn" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="completedBy" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="approvedOn"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	               <xsd:element name="approvedBy"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="latestCopyOfBusinessExpires"  type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="note"    type="xsd:string" minOccurs="1" maxOccurs="1" />
	             </xsd:sequence>
	   </xsd:complexType>
	   
	    <xsd:complexType name="PartnerRecruitmentAdminScreeningDocuments">
	     <xsd:complexContent>
     <xsd:extension base="common:Response">
	   <xsd:sequence>
         <xsd:element name="docType" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="fileType" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="fileName" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="docName" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="docUrl" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="uploadDate" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="uploadedBy" type="adminViewForPartnerInquiryData:DocumentUploadUser" minOccurs="1" maxOccurs="1" />
         <xsd:element name="active" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
		<xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
		<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />         
      </xsd:sequence>
       </xsd:extension>
    </xsd:complexContent>
      </xsd:complexType>
      
      
      <xsd:complexType name="DocumentUploadUser">
	            <xsd:sequence>
	               <xsd:element name="userName" type="xsd:string" minOccurs="1" maxOccurs="1" />
	               <xsd:element name="role" type="xsd:string" minOccurs="1" maxOccurs="1" />
				   <xsd:element name="photoUrl"     type="xsd:string" minOccurs="1" maxOccurs="1" />	               
	             </xsd:sequence>
	   </xsd:complexType>
      
      
      <xsd:complexType name="PartnerRecruitmentAdminScreeningNotes">
    <xsd:complexContent>
     <xsd:extension base="common:Response">
      <xsd:sequence>
         <xsd:element name="seasonId" type="xsd:int" minOccurs="1" maxOccurs="1" />
         <xsd:element name="seasonDepartmentNotetId" type="xsd:int" minOccurs="1" maxOccurs="1" />
         <xsd:element name="noteValue" type="xsd:string" minOccurs="0" maxOccurs="1" />
         <xsd:element name="active" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
         <xsd:element name="createdOn" type="xsd:string" minOccurs="1" maxOccurs="1" />
         <xsd:element name="createdBy" type="xsd:string" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   
</xsd:schema>